.site-page img {
  width: 100%;
  height: auto;
}

.SitePages-div {
  background-color: #f2f2f2;
  min-width: 200px;
  max-width: 305px;
  max-height: 40px;
  height: auto;
  border-bottom: 2px solid white;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 15px;
}

.SitePages-title {
  color: orange;
  color: black;

  &:hover {
    color: rgb(214, 25, 25);
  }
}

.SitePages-mb {
  margin-bottom: 20px !important;
}

.SitePages-div-button {
  background-color: #f2f2f2 !important;
  min-width: 305px !important;
  max-width: 335px !important;
  max-height: 40px !important;
  height: auto !important;
  display: flex !important;
  justify-content: start !important;
  color: black !important;
  box-shadow: none;
  padding-bottom: 12px;
}
