.Actions-title {
  font-family: 'Roboto Bold';
}

.Actions-column {
  h3 {
    font-weight: bold;
  }

  .Actions-card {
    width: 100%;
    padding: 20px;
    transition: 0.3s;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:hover {
      box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
    }
  }

  .Action-title--link h4 {
    color: #ff3f00;

    &:hover {
      color: #ffb000;
    }
  }

  .Actions-image,
  img {
    display: block;
    width: 100% !important;
    height: 200px;
    max-width: 250px;
    border-radius: 6px;
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
  }
}

.style-Button {
  background-color: rgb(222, 42, 27);
  font-weight: bold;
  font-size: 16px;
  color: white;

  &.ant-btn:hover,
  &.ant-btn:focus {
    background-color: orangered;
    color: white;
    border-color: orangered;
  }
}
