.textField-input {
  padding: 0 15px;
  width: 40%;
  height: 28px;
  position: relative;
  outline: none;
  font: 14px 'PT Sans', Arial, sans-serif;
  color: #000;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
  border-radius: 0px;
}

.textField-select {
  padding: 0 15px;
  width: 30%;
  height: 28px;
  position: relative;
  outline: none;
  font: 14px 'PT Sans', Arial, sans-serif;
  color: #000;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
  border-radius: 0px;
}

.ServiceRegistrationForm-paragraph {
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 16px;
}

.ServiceRegistrationForm-Select {
  display: flex;
  justify-content: start;
}

.ServiceRegistrationForm-star {
  color: red;
}

.ServiceRegistrationForm-block {
  display: flex;
  justify-content: start;
  align-items: center;
}

.ServiceRegistrationForm-Link {
  color: red;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #de2a1b !important;
  }
}

.ServiceRegistrationForm-paragraph2 {
  font-size: 15px;
  margin-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.ServiceRegistrationForm-contener {
  background: rgba(250, 223, 18, 0.08);
  padding: 10px 10px 15px;
  border: 1px solid #f6cb00;
  margin-bottom: 20px;
}

.ant-btn-primary {
  color: #fff;
  background: black;
  border-color: black;
}

.ServiceRegistrationForm-border {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ServiceRegistrationForm-border-block {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.ServiceRegistrationForm-mb {
  margin-bottom: 0;
}

.ServiceRegistrationForm-mt {
  margin-top: 10px;
}

.ServiceRegistrationModal button:not(.ant-btn-primary) {
  display: none;
}

.ServiceRegistrationModal .ant-btn-primary {
  &:hover,
  &:focus {
    background: #252525 !important;
    border-color: #252525 !important;
  }
}
